<h3>チラシの裏について</h3>
<p>チラシの裏はユーザー登録不要のお手軽オンラインメモ帳サービスです。</p>
<p>登録したメモ書きはデフォルトでは全世界に公開されるので注意してください。</p>
<p>
  チラシの裏はオープンソースアプリケーションです。<br />
  社内など限られたLANでの運用を検討されている方はソースをダウンロードして使うことができます。<br />
  Ruby on Railsが動くパソコンがあればすぐに使い始めることができます。
</p>
<p><a href="https://github.com/HyahhaProgrammer/chirashi" target="_blank">GitHub HyahhaProgrammer/chirashi</a></p>
<p><a href="https://twitter.com/#!/hyahha_pg" target="_blank">@hyahha_pg</a></p>
